# Challenge Data Science

### IMPORTAÇÃO DE BIBLIOTECAS

In [58]:
import pandas as pd

### IMPORTAÇÃO DO DATASET

In [59]:
fonte = 'https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json'
dados = pd.read_json(fonte)
dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [60]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

obs:As columas 'customer', 'phone', 'internet' e 'account' apresentam dados em formato JSON, que precisam ser extraidos.

In [61]:
#Extraindo os dados da coluna 'customer'
dados_customer = pd.json_normalize(dados.customer)
dados_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [62]:
#Extraindo os dados da coluna 'phone'
dados_phone = pd.json_normalize(dados.phone)
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [63]:
#Extraindo os dados da coluna 'internet'
dados_internet = pd.json_normalize(dados.internet)
dados_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [64]:
#Extraindo os dados da coluna 'account'
dados_account = pd.json_normalize(dados.account)
dados_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [65]:
#Excluindo colunas
dados.drop(columns=['customer', 'phone', 'internet', 'account'],axis=1,inplace=True)

In [66]:
#Concatenando o dataset
dataset = pd.concat([dados,dados_customer,dados_phone,dados_internet,dados_account], axis=1)
dataset.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [67]:
#Verificando totas as colunas
dataset.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

#### TRADUZINDO O DATASET

In [68]:
dataset.columns = ['ID', 'Churn', 'Sexo', 'Idoso', 'Parceiro', 'Dependentes', 'Meses_contrato', 'Assinatura_tel',
                 'Multiplas_assinatura_tel', 'Internet', 'Segurança_online', 'Backup_online', 'Proteção_dispositivo',
                 'Suporte_técnico', 'Tv_a_cabo', 'Streaming_filmes', 'Tipo_contrato', 'Faturamento_digital','Forma_de_pagamento',
                 'Cobranças_mensais', 'Total_cobranças']
dataset.head()

,ID,Churn,Sexo,Idoso,Parceiro,Dependentes,Meses_contrato,Assinatura_tel,Multiplas_assinatura_tel,Internet,...,Backup_online,Proteção_dispositivo,Suporte_técnico,Tv_a_cabo,Streaming_filmes,Tipo_contrato,Faturamento_digital,Forma_de_pagamento,Cobranças_mensais,Total_cobranças
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [69]:
#Visualizar o tamanho do dataset
print(f'O dataset possui {dataset.shape[0]} Linhas e {dataset.shape[1]} Colunas')

O dataset possui 7267 Linhas e 21 Colunas

In [70]:
#Verificando os tipos de dados
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        7267 non-null   object
 1   Churn                     7267 non-null   object
 2   Sexo                      7267 non-null   object
 3   Idoso                     7267 non-null   int64
 4   Parceiro                  7267 non-null   object
 5   Dependentes               7267 non-null   object
 6   Meses_contrato            7267 non-null   int64
 7   Assinatura_tel            7267 non-null   object
 8   Multiplas_assinatura_tel  7267 non-null   object
 9   Internet                  7267 non-null   object
 10  Segurança_online          7267 non-null   object
 11  Backup_online             7267 non-null   object
 12  Proteção_dispositivo      7267 non-null   object
 13  Suporte_técnico           7267 non-null   object
 14  Tv_a_cabo                 7267 non-null   object
 15  Streaming_filmes          7267 non-null   object
 16  Tipo_contrato             7267 non-null   object
 17  Faturamento_digital       7267 non-null   object
 18  Forma_de_pagamento        7267 non-null   object
 19  Cobranças_mensais         7267 non-null   float64
 20  Total_cobranças           7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### TRATAMENTO DE DADOS

In [101]:
#Trocando o tipo de dados da coluna 'Total_cobranças' de string para float
dataset['Total_cobranças'] = dataset['Total_cobranças'].astype(float)

In [75]:
#Verificando se há valores nulos
dataset.isnull().sum()

ID                          0
Churn                       0
Sexo                        0
Idoso                       0
Parceiro                    0
Dependentes                 0
Meses_contrato              0
Assinatura_tel              0
Multiplas_assinatura_tel    0
Internet                    0
Segurança_online            0
Backup_online               0
Proteção_dispositivo        0
Suporte_técnico             0
Tv_a_cabo                   0
Streaming_filmes            0
Tipo_contrato               0
Faturamento_digital         0
Forma_de_pagamento          0
Cobranças_mensais           0
Total_cobranças             0
dtype: int64

In [90]:
#Foi identificado valores vazio na coluna 'total_cobranças'.
dataset.query("Total_cobranças == ' '")

,ID,Churn,Sexo,Idoso,Parceiro,Dependentes,Meses_contrato,Assinatura_tel,Multiplas_assinatura_tel,Internet,...,Backup_online,Proteção_dispositivo,Suporte_técnico,Tv_a_cabo,Streaming_filmes,Tipo_contrato,Faturamento_digital,Forma_de_pagamento,Cobranças_mensais,Total_cobranças
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,

In [92]:
#Trocando valores vazio da coluna 'total_cobrança' por 0
dataset['Total_cobranças'].replace(' ', 0, inplace=True)

In [94]:
#Foi identificado valores vazio na coluna 'Churn'.
dataset.query("Churn == ''")

,ID,Churn,Sexo,Idoso,Parceiro,Dependentes,Meses_contrato,Assinatura_tel,Multiplas_assinatura_tel,Internet,...,Backup_online,Proteção_dispositivo,Suporte_técnico,Tv_a_cabo,Streaming_filmes,Tipo_contrato,Faturamento_digital,Forma_de_pagamento,Cobranças_mensais,Total_cobranças
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.2
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.9
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [102]:
dataset['Churn'].value_counts()

No     5174
Yes    1869
        224
Name: Churn, dtype: int64

In [103]:
#Alterando valores vazio na coluna 'Churn' para não informado.
dataset.replace('', 'Não informado', inplace=True)

In [104]:
dataset['Churn'].value_counts()

No               5174
Yes              1869
Não informado     224
Name: Churn, dtype: int64